global
    daemon
    maxconn 256
    user    haproxy
    group   haproxy
    log     127.0.0.1       local0
    log     127.0.0.1       local1  notice
 
defaults
        log     global
        mode    http
        option  tcplog
        option  dontlognull
        maxconn 8000
        timeout connect 5s
        timeout client 300s
        timeout server 300s
        retries 3
        timeout check 10s
        timeout queue 1m
        errorfile 400 /usr/share/haproxy/400.http
        errorfile 403 /usr/share/haproxy/403.http
        errorfile 408 /usr/share/haproxy/408.http
        errorfile 500 /usr/share/haproxy/500.http
        errorfile 502 /usr/share/haproxy/502.http
        errorfile 503 /usr/share/haproxy/503.http
        errorfile 504 /usr/share/haproxy/504.http
 
frontend myapp
  bind *:443
  mode tcp
  default_backend backend_servers

listen backend_servers
    bind *:443
    bind *:80
    mode tcp
    balance source
    server backend-01 {{ hostvars[groups['servidores'][0]].ansible_eth0.ipv4.address }}:443 check
    server backend-02 {{ hostvars[groups['servidores'][1]].ansible_eth0.ipv4.address }}:443 check