[oauth2]
JWT_SECRET = 44dzQ5ptHKvpar4eBkFsbwLFS9Dq6Q4RFfFNSUY6wms

[security]
INTERNAL_TOKEN = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYmYiOjE1ODU5MjU3Njl9.KM7tSSkFtmkEjz-ia4oqSmX74OovI_nfNc_T7DFHNs4
INSTALL_LOCK   = true
SECRET_KEY     = WnPim156YWlRaNCPexwk8CNA561wTIMa5erSIXAVEgEgz6CkiI1hDSiZfQ7LvAKh

[database]
DB_TYPE  = mysql
HOST     = 127.0.0.1:3306
NAME     = {{ gitea_db }}
USER     = {{ gitea_db_user }}
PASSWD   = {{ gitea_db_plain_password }}
SSL_MODE = disable
CHARSET  = utf8

[repository]
ROOT = {{ gitea_repository_path }}

[server]
SSH_DOMAIN       = localhost
DOMAIN           = localhost
HTTP_PORT        = 3000
ROOT_URL         = http://localhost:3000/
DISABLE_SSH      = false
SSH_PORT         = 22
OFFLINE_MODE     = false

[mailer]
ENABLED = false

[service]
REGISTER_EMAIL_CONFIRM            = false
ENABLE_NOTIFY_MAIL                = false
DISABLE_REGISTRATION              = false
ALLOW_ONLY_EXTERNAL_REGISTRATION  = false
ENABLE_CAPTCHA                    = false
REQUIRE_SIGNIN_VIEW               = false
DEFAULT_KEEP_EMAIL_PRIVATE        = false
DEFAULT_ALLOW_CREATE_ORGANIZATION = true
DEFAULT_ENABLE_TIMETRACKING       = true
NO_REPLY_ADDRESS                  = noreply.localhost

[picture]
DISABLE_GRAVATAR        = false
ENABLE_FEDERATED_AVATAR = true

[openid]
ENABLE_OPENID_SIGNIN = true
ENABLE_OPENID_SIGNUP = true

[session]
PROVIDER = file

[log]
MODE      = file
LEVEL     = info
ROOT_PATH = {{ gitea_log_path }}
