server {
    listen       80;
    server_name  localhost;
    return 301 https://$host$request_uri;
}

upstream netdata {
    server 127.0.0.1:19999;
    keepalive 64;
}
server {
        listen 443 ssl;
        server_name {{ common_domain_name  }};
        ssl on;
        access_log          /var/log/nginx/access.log;
        ssl_certificate     {{ certs_path }}{{ common_domain_name  }}-bundle.crt;
        ssl_certificate_key {{ keys_path }}{{ common_domain_name  }}.key;
        ssl_protocols SSLv3 TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers         HIGH:!aNULL:!MD5;
        
        location /netdata {
                return 301 /netdata/;
        }

        location ~ /netdata/(?<ndpath>.*) {
                proxy_redirect off;
                proxy_set_header Host $host;

                proxy_set_header X-Forwarded-Host $host;
                proxy_set_header X-Forwarded-Server $host;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_http_version 1.1;
                proxy_pass_request_headers on;
                proxy_set_header Connection "keep-alive";
                proxy_store off;
                proxy_pass http://netdata/$ndpath$is_args$args;
                gzip on;
                gzip_proxied any;
                gzip_types *;
            }
    
        location / {
            proxy_set_header Host $host;
            proxy_pass http://localhost:3000;
        }
}

